.Container {
    display: flex;
    flex-direction: row;
    margin: 10px auto 10px auto;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    min-width: max-content;
    min-height: max-content;
}

.Item {
    text-align: center;
    width: 75%;
    min-width: max-content;
    height: 50px;
    margin: auto 10px auto 10px;
    border-radius: 20px;
    background-color: var(--accent2);
    min-height: max-content;
}

.DelBtn {
    margin: auto;
    min-width: 50px;
    width: 15%;
    height: 40px;
    border-radius: 15px;
    background-color: var(--accent3);
    min-height: max-content;
}

.DelBtn p {
    text-align: center;
    margin-top: 10px;
}