.Container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px auto;
    margin: auto 10px auto 10px;
    width: 90%;
    height: 75%;
    background-color: var(--accent4);
    border-radius: 20px;
    padding-top: 10px;
    min-width: max-content;
    min-height: max-content;
}

.NewContainer {
    display: flex;
    flex-direction: row;
    margin: 10px auto 10px auto;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    min-width: max-content;
    min-height: max-content;
}

.CheckBox {
    text-align: center;
    min-width: 30px;
    width: 15%;
}

.Item {
    text-align: center;
    width: 75%;
    min-width: max-content;
    height: 50px;
    margin: auto 10px auto 10px;
    min-height: max-content;
}

.Item input {
    margin: 0;
    padding: 0;
    height: 50px;
    width: 100%;
    border-radius: 20px;
}

.AddBtn {
    margin: auto;
    min-width: 50px;
    width: 15%;
    height: 40px;
    border-radius: 15px;
    background-color: var(--accent3);
    min-height: max-content;
}

.AddBtn p {
    text-align: center;
    margin-top: 10px;
}