.HeadingContainer {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-self: flex-start;
    align-items: center;
    justify-content: space-around;
    background-color: var(--accent2);
    height: 15%;
    width: 90%;
    margin: auto;
    border-radius: 20px;
}