.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: max-content;
}

.TaskContainer {
    background-color: var(--accent1);
    height: 75%;
    width: 90%;
    min-width: max-content;
    margin: auto;
    margin-top: 0px;
    border-radius: 20px;
}

.Base {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 500px;
    min-width: max-content;
    background-color: var(--accent3);
    border-radius: 20px;
    margin: 15vh 0vh 15vh 0vh;
}

@media only screen and (max-width :640px) {
    .Base {
        height: 100vh;
        width: 100vw;
        margin: 0;
    }
}