:root {
    --accent1: #072227;
    --accent2: #4FBDBA;
    --accent3: #35858B;
    --accent4: #AEFEFF
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--accent1);
    margin: 0;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}